body{
  color: red;
  background-image: url("minecraft xbox.jpg");
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: grey;
}

a:active {
  color: white;
}

iframe{
  frameborder: 0;
}
